
                        <h2 class = "d-flex justify-content-center align-items-center">Редактирование вашей анкеты</h2>
                        
 {{!-- <div class = "d-flex justify-content-center align-items-center"> 
   <div class="w-50 p-10 " style="background-color: #eee;">           
<form id="editEntryForm" method="POST" class=" p-3 m-3">
  <div class="d-flex justify-content-center">
    <img src = {{mentorElit.image}} width="400px" height=" 300px" >
  </div>
  <label for="title-input" class="block mar-b-1">Ссылка на вашу фотографию</label>
  <input id="title-input" name="image" type="text" value="{{mentorElit.image}}" tabindex="1"
    class="block w-100 no-outline no-border pad-1 mar-b-2">
   <label for="body-textarea" class="block mar-b-1">Коротко о себе</label>
  <textarea name="description" tabindex="2"
    class="block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2">{{mentorElit.description}}</textarea>


  <label for="title-input" class="block mar-b-1">Ваш опыт</label>
  <select name="experience"  size=3>
  <option>1</option>
  <option >3</option>
  <option >5</option>
</select>
    
<hr>
    <label for="body-textarea" class="block mar-b-1">Желаемая оплата за час( в рублях)</label>
  <textarea id="body-textarea" name="price" tabindex="2"
    class="block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2">{{mentorElit.price}}</textarea>

     <label for="body-textarea" class="block mar-b-1">Карьера</label>
    <textarea id="body-textarea" name="occupation" tabindex="2"
    class="block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2">{{mentorElit.occupation}}</textarea>

     <label for="body-textarea" class="block mar-b-1" >Город</label>
    <textarea id="body-textarea" name="city" tabindex="2"
    class="block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2">{{mentorElit.city}}</textarea>
  
<label for="title-input" class="block mar-b-1">Ключевые навыки (через Сtrl)</label>
  <select name="tags" multiple="multiple"  size=8>
  <option>Java Script</option>
  <option >Pyton</option>
  <option>HTML</option>
  <option>CSS</option>
  <option>C++</option>
  <option>C#</option>
  <option>Java</option>
  <option>Goolang</option>
</select>

  <input type="submit" value="Update" tabindex="3"
    class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form> --}}

<div class="mb-3" id="mentForm1">
  <div class="d-flex justify-content-center">
  <img src ="{{mentorElit.image}}" width="400px" height="300px">
  </div>
  <form method="POST">
      <label for="exampleFormControlInput1" class="form-label">Ссылка на вашу фотографию</label>
      <input name="image" type="text" class="form-control " id="exampleFormControlInput1" value="{{mentorElit.image}}">
      <label for="exampleFormControlInput2" class="form-label">Коротко о себе</label>
      <input name="description" type="text" class="form-control" id="exampleFormControlInput1" value = "{{mentorElit.description}}">
      <div name="experience">
        <p>Ваш опыт </p>
        <div class="form-check form-check-inline">
          <input name="experience" value="1" class="form-check-input" type="radio" id="inlineCheckbox1">
          <label class="form-check-label" for="inlineCheckbox1">От 1 года</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="experience" value="3" class="form-check-input" type="radio" id="inlineCheckbox2">
          <label class="form-check-label" for="inlineCheckbox2">От 3 лет</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="experience" value="5" class="form-check-input" type="radio" id="inlineCheckbox2">
          <label class="form-check-label" for="inlineCheckbox2">Более 5 лет</label>
        </div>
      </div>
      <label for="exampleFormControlInput3" class="form-label" >Желаемая оплата в час</label>
      <input name="price" type="text" class="form-control" id="exampleFormControlInput1" value = "{{mentorElit.price}}">

      <label for="exampleFormControlInput4" class="form-label">Карьера</label>
      <input name="occupation" type="text" class="form-control" id="exampleFormControlInput1" value = "{{mentorElit.occupation}}">

      <label for="exampleFormControlInput5" class="form-label" >Город</label>
      <input name="city" type="text" class="form-control" id="exampleFormControlInput1" value = "{{mentorElit.city}}">
      
    <div name="experience">
        <p>Ключевые навыки </p>
        <div class="form-check form-check-inline">
          <input name="tags" value="HTML" class="form-check-input" type="checkbox" id="inlineCheckbox1">
          <label class="form-check-label" for="inlineCheckbox1">HTML</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="tags" value="CSS" class="form-check-input" type="checkbox" id="inlineCheckbox2">
          <label class="form-check-label" for="inlineCheckbox2">CSS</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="tags" value="JavaScript" class="form-check-input" type="checkbox" id="inlineCheckbox2">
          <label class="form-check-label" for="inlineCheckbox2">JavaScript</label>
        </div>
      </div>
       <div class="form-check form-check-inline">
          <input name="tags" value="Pyton" class="form-check-input" type="checkbox" id="inlineCheckbox2">
          <label class="form-check-label" for="inlineCheckbox2">Pyton</label>
        </div>
         <div class="form-check form-check-inline">
          <input name="tags" value="C++" class="form-check-input" type="checkbox" id="inlineCheckbox2">
          <label class="form-check-label" for="inlineCheckbox2">C++</label>
        </div>
         <div class="form-check form-check-inline">
          <input name="tags" value="C#" class="form-check-input" type="checkbox" id="inlineCheckbox2">
          <label class="form-check-label" for="inlineCheckbox2">C#</label>
        </div>
         <div class="form-check form-check-inline">
          <input name="tags" value="Java" class="form-check-input" type="checkbox" id="inlineCheckbox2">
          <label class="form-check-label" for="inlineCheckbox2">Java</label>
        </div>
         <div class="form-check form-check-inline">
          <input name="tags" value="Golang" class="form-check-input" type="checkbox" id="inlineCheckbox2">
          <label class="form-check-label" for="inlineCheckbox2">Golang</label>
        </div>
      <input type="submit" value="Update" tabindex="3"
    class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
    </div>
<div class="d-flex justify-content-center">
<a href="/personalacc/:{{mentorElit._id}}">Удалить вашу анкету?</a>
</div>
</div>   

</div>    



  </form>

</div>

